body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

header {
    position: fixed;
    background: #25282f;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #1Dc4E7;
}
.logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 80px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition-property: background;
}
.logout_btn:hover{
    background: #0c3c46;
}

.sidebar {
    background: #2F323A;
    margin-top: 70px;
    padding-top: 0px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.4s;
    transition-property: left;
    overflow: hidden;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.sidebar a:hover {
    background: #19B3D3;
}

.sidebar i {
    padding-right: 30px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: absolute;
    cursor: pointer;
    left: 220px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -190px;
}
#check:checked~.content {
    left: -190px;
    margin-left: 60px;

}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#icons {
    display: flex;
}

.content {
    margin-left: 250px;
    background: rgba(0, 0, 0, 0.5)url(img/pexels-lukas-349609.jpg);
    background-position: center;
    background-size: cover;
 min-height: 100vh;
 max-height: 100%; 
    transition: 0.5s;
    background-blend-mode: darken;
  padding: 0px -50px 30px -30px;
}.grid-container {
    display: grid; 
    grid-template-columns: auto auto auto auto;
  }

#check {
    display: none;
}


* {
    list-style: none;
    text-decoration: none;
}

#a1 {
    padding: 0px;
    display: flex;
    width: 280px;
    height: 35px;
    overflow: hidden;
    text-decoration: none;
    float: right;
    margin-top: -35px;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 600;
    transition-property: background;
}

#img1 {
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 35px;
    background-color: rgb(212, 212, 212);
}

#img1:hover {
    background-color: rgb(109, 108, 108);

}

#inp1 {
    border-style: none;
    width: 170px;
    outline-style: none;
    font-size: 20px;
    padding-left: 10px;
    -moz-appearance: textfield;
}

#inp1::-webkit-outer-spin-button,
#inp1::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#img2 {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 35px;

}

#img2:hover {
    background-color: rgb(109, 108, 108);
}
.grid-item  {
    margin: 90px 60px 20px 50px ;
    padding: 10px;
    width: 200px;
    height: 250px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    overflow: hidden;
    background-color:#2f323a93;
    border: 1px solid rgb(197, 194, 194);
    position: unset;
    color: white;
}

#img3 {
    width: 220px;
    height: 55%;
    margin: -10px 0px 0px -10px;
    padding: 0;
    position: static;
}

#h21 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0px;
}

hr {
    padding: 0;
    margin: 0;
}

#h53 {
    display: flex;
    margin: 5px 0px 15px 5px;
}

#h51 {
    margin-left: 115px;
}

#id {
    margin: -10px 0px 0px 0px;
    width: 30px;
    height: 25px;
    border-radius: 100%;
    background-color: #221d46;
    color: white;
    padding: 7px 2px 0px 2px;
}

#de {
    height: 15px;
    background-color: #221d46;
    padding: 6px 5px 10px 5px;
    color:white;
    border-radius: 5px;
}
#de:hover{
    background-color: #17132f;
}
#mo {
    margin-left: 80px;
    height: 15px;
    background-color: #221d46;
    padding: 6px 5px 10px 5px;
    color: white;
    border-radius: 5px;
}
#mo:hover{
    background-color: #17132f;
}
#sales {
    width: 200px;
    height: 150px;
    margin: 180px 100px 0px 27%;
    color: white;
    background-color:#2f323a93;
    border: 5px solid rgb(197, 194, 194);
    border-radius: 10px;
    box-shadow: 16px 14px 20px #0000008c;

}

#sales p {
    font-size: 20px;
    font-weight: 600;
}

#sales h2 {
    font-size: 40px;
    margin-top: 20px;
}

#users {
    width: 200px;
    height: 150px;
    margin: 180px 100px 0px 100px;
    color: white;
    background-color:#2f323a93;
    border: 5px solid rgb(197, 194, 194);
    border-radius: 10px;
    box-shadow: 16px 14px 20px #0000008c;

}

#users p {
    font-size: 20px;
    font-weight: 600;
}

#users h2 {
    font-size: 40px;
    margin-top: 20px;
}
#pd{
    display: flex;
}
#product {
    width: 200px;
    height: 150px;
    margin: 80px 100px 100px 27%;
    color: white;
    background-color:#2f323a93;
    border: 5px solid rgb(197, 194, 194);
    border-radius: 10px;
    box-shadow: 16px 14px 20px #0000008c;

}

#product p {
    font-size: 20px;
    font-weight: 600;
}

#product h2 {
    font-size: 40px;
    margin-top: 20px;
}

#department {
    width: 200px;
    height: 150px;
    margin: 80px 100px 100px 100px;
    color: white;
    background-color:#2f323a93;
    border: 5px solid rgb(197, 194, 194);
    border-radius: 10px;
    box-shadow: 16px 14px 20px #0000008c;

}

#department p {
    font-size: 20px;
    font-weight: 600;
}

#department h2 {
    font-size: 40px;
    margin-top: 20px;
}

